<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>D3 Demo: Making a scatterplot with SVG</title>
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.js"></script>
    <script src="src/plot.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/plot-style.css">
</head>

<body ng-app='plotting' ng-controller='plotData'>
<h1>First, trying out the angular directive</h1>
<p>
<input ng-model="N"></input>
<p>
<button ng-click="chooseSine(N)">Sine</button>
<button ng-click="chooseCosine(N)">Cosine</button>
<button ng-click="changeDomain()">Domain</button>
</p>
<div plot data='data' options="plotConfig" style="height:400px;">
    <line value="{start:[0,0], end:[6,0], strokeWidth:1, color:'black'}"></line>
</div>

</body>
</html>
