.axis path, 
.axis line {fill:none; stroke:black; shape-rendering: crispEdges;}
.axis text {font-family: sans-serif; font-size: 11px;}



/* The for plot and function directives (example of cyclic colours)
 *
 * The hierarchy to reach a standard plot is:
 *      div[axes] > svg > g[clip-path] > path.plot
 */
div[axes] .plot {
    stroke-width: 2;
}
div[axes] .plot:nth-of-type(7n+1) {
    stroke: blue;
}
div[axes] .plot:nth-of-type(7n+2) {
    stroke: green;
}
div[axes] .plot:nth-of-type(7n+3) {
    stroke: red;
}
div[axes] .plot:nth-of-type(7n+4) {
    stroke: aqua;
}
div[axes] .plot:nth-of-type(7n+5) {
    stroke: magenta;
}
div[axes] .plot:nth-of-type(7n+6) {
    stroke: yellow;
}
div[axes] .plot:nth-of-type(7n+7) {
    stroke: grey;
}

/* Line-related theme
 *
 * The hierarchy to reach a standard line is:
 *      div[axes] > svg > g[clip-path] > line.line
 */
div[axes] .line {
    stroke: black;
}
div[axes] .line {
    stroke-width: 1;
}

/* Histogram theme settings
 *
 * The hierarchy of a standard histogram is:
 *      div[axes] > svg > g[clip-path] > g.histogram > g.bar > rect
 * 
 * Eventually, g.bar may contain other decorators, like text labels (with the value)
 */
div[axes] .histogram rect {
    stroke:white; 
    fill:blue;
}


/* an all black theme (for boringness sake)
 *
 * This theme also demonstrates different stroke types (dash and dot)
 */
div[axes].all-black .plot {
    stroke-width: 2;
    stroke: black;
}
div[axes].all-black .plot:nth-of-type(4n+2) {
    stroke-dasharray: 5;
}
div[axes].all-black .plot:nth-of-type(4n+3) {
    stroke-dasharray: 2, 5;
}
div[axes].all-black .plot:nth-of-type(4n+4) {
    stroke-dasharray: 15,5,2,5;
}

div[axes].all-black .line {
    stroke: black;
    stroke-width: 1;
}

div[axes].all-black .histogram rect {
    stroke:white; 
    fill:black;
}
