<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ng-graphs demo: drawing a bunch of elements on a set of axes</title>
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.js"></script>
    <script src="../build/graphs.js" charset="utf-8"></script>
    <script src="axesApp.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/plot-style.css">
</head>

<body ng-app='plottingApp' ng-controller='axesData'>
<h1>This is a test of the axes directive, which draws its children.</h1>
<p>
<input ng-model="samples"></input>
<input ng-model="N"></input>
<p>
<button ng-click="chooseSine(samples)">Sine</button>
<button ng-click="chooseCosine(samples)">Cosine</button>
&lt; plot | histrogram &gt;
<button ng-click="mv.hatDist(N)">Hat</button>
<button ng-click="mv.moreDist(N)">More</button>
</p>
<div axes options="axesConfig" style="height:400px;">
    <histogram data='histData' options="histConfig"></histogram>
    <plot data="data" options="{}"></plot>
    <function f="sine" options="{}"></function>
    <function f="exponent" options="{}"></function>
    <function f="gaussian" options="{}"></function>
    <line start="[-6,0]" end="[6,0]" options="{strokeWidth:1, color:'black'}"></line>
    <line start="[-10,-2]" end="[10,2]" options="{strokeWidth:2, color:'red'}"></line>
</div>

<h2>We can draw the histogram elsewhere, with different options too.</h2>
<p>
<input ng-model="xType" />
<input ng-model="yType" />
</p>
<div axes options="{xDomain: [-6,6], xScale:xType, yScale:yType}" style="height:400px;">
    <histogram data='histData' options="{bins: 100, frequency: true}"></histogram>
    <function f="gaussian" options="{strokeWidth:20, color:'aquamarine'}"></function>
    <function f="sine" options="{strokeWidth:2, color:'red'}"></function>
</div>

<h2>This next one tests auto-sizing of plots</h2>
<p>Width and height are entirely determined by the [x,y] data</p>
<div axes options="{}" style="height:400px;">
    <plot data="data" options="{strokeWidth:4, color:'magenta'}"></plot>
</div>

<h2>Now function</h2>
<p>The width here is actually created by the line</p>
<div axes options="{}" style="height:400px;">
    <line start="[-20,0]" end="[20,0]" options="{strokeWidth:1, color: 'black'}">
    <function f="sine" options="{}"></plot>
</div>

<h2>Fallback axes</h2>
<p>If no valid xDomain (or yDomain) can be determined, then use [0,1]</p>
<div axes style="height:400px;">
    <function f="gaussian" options="{}"></plot>
</div>


</body>
</html>
